<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  Redirect 301 /residential-solar-system /solar-systems/residential-solar-system
  Redirect 301 /residential-solar-system/ /solar-systems/residential-solar-system
  Redirect 301 /services/residential-solar-system /solar-systems/residential-solar-system
  Redirect 301 /services/residential-solar-system/ /solar-systems/residential-solar-system
  Redirect 301 /services/commercial-solar-system /solar-systems/commercial-solar-system
  Redirect 301 /services/commercial-solar-system/ /solar-systems/commercial-solar-system
  Redirect 301 /commercial-solar-system /solar-systems/commercial-solar-system
  Redirect 301 /commercial-solar-system/ /solar-systems/commercial-solar-system
  Redirect 301 /services/off-grid-solar-system /solar-systems/off-grid-solar-system
  Redirect 301 /services/off-grid-solar-system/ /solar-systems/off-grid-solar-system
  Redirect 301 /off-grid-solar-system /solar-systems/off-grid-solar-system
  Redirect 301 /off-grid-solar-system/ /solar-systems/off-grid-solar-system
  Redirect 301 /services/solar-panel/ /solar-panels-darwin/
  Redirect 301 /services/solar-panel /solar-panels-darwin/
  Redirect 301 /services/repairs-and-maintenance/ /solar-panels-darwin/
  Redirect 301 /services/repairs-and-maintenance /solar-panels-darwin/
  Redirect 301 /solar-inverters /products/solar-inverters
  Redirect 301 /solar-inverters/ /products/solar-inverters

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
